#db
POSTGRES_USER= sample_user
POSTGRES_PASSWORD= sample_password
POSTGRES_DB= sample_db
POSTGRES_HOST= sample_host
POSTGRES_PORT= sample_port

# JWT
JWT_SECRET_KEY=sample_jwt_secret_key
JWT_ALGORITHM=sample_algorithm
ACCESS_TOKEN_EXPIRE_MINUTES=sample_access_token_expiry
REFRESH_TOKEN_EXPIRE_DAYS=sample_refresh_token_expiry

# Admin seed
ADMIN_EMAIL=sample_admin_email
ADMIN_PASSWORD=sample_admin_password
ADMIN_FULL_NAME=sample_admin_full_name

# mail functionality
MAIL_USERNAME=smaple_mail
MAIL_PASSWORD=sample_mail_password
MAIL_FROM=sample_mail
MAIL_FROM_NAME=Asset Allocation System
MAIL_SERVER=sample_smtp_server
MAIL_PORT=sample_smtp_port
MAIL_TLS=True
MAIL_SSL=False

FRONTEND_RESET_URL=sample_frontend_reset_url